<launch>
<!-- Controller Node-->
<include file="$(find teleop_twist_joy)/launch/teleop.launch" />
<!-- Thruster Node-->	
<node pkg="rov" type="throttle_mixing" name="throttle_mixing"/>
<!-- imu Output conversion -->
<node pkg="rov" type="QuattoEuler" name="QuattoEuler" />
<!-- recombiner node -->
<node pkg="rov" type="recombiner" name="recombiner" />
<!-- PID -->
<include file="$(find pid)/launch/rov_pid.launch" />
<!-- rqt GUI -->
<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn="false" output = "screen"
args = "--perspective-file $(find rov)/rqt_config/Test.perspective"/>
</launch>
