<launch>
    <node name="roll_pid" pkg="pid" type="controller" ns="roll" output="screen" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <param name="topic_from_controller" value="roll_pid" />
      <param name="topic_from_plant" value="roll" />
      <param name="setpoint_topic" value="roll_setpoint" />            
      <remap from="setpoint" to="/setpoint" />
     </node>
</launch>